<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LINQServer.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=YAKOVLEVI-SV;Initial Catalog=Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LINQServer.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database1.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="LINQServer.Properties.Settings.DatabaseConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>